<div class="grid-sizer"></div>
<div class="grid-item">
  <a href="{% if item.redirect %}{{ item.redirect }}{% else %}{{ item.url | relative_url }}{% endif %}">
    <div class="card hoverable">
      {% if item.img %}
        {% include figure.liquid
          loading="eager"
          path=item.img
          sizes = "250px"
          alt="news item thumbnail"
        %}
      {% endif %}
      <div class="card-body">
        <h2 class="card-title text-lowercase">{{ item.title }}</h2>
        <p class="card-text">{{ item.description }}</p>
      </div>
    </div>
  </a>
</div>
          