---
layout: default
---

<h1>News for {{ page.year }}</h1>

<div class="news">
  <div class="grid">
    {% assign news_by_year = site.news | where_exp: "item", "item.date | date: '%Y' == page.year" | sort: 'date' | reverse %}
    {% for item in news_by_year %}
      {% include news_item.liquid %}
    {% endfor %}
  </div>
</div>
